@using System.Data;
@using Comunes;

@{
    ViewBag.Title = "Propiedades";
}
<h2>Propiedades en oferta</h2>
<br />
@using (Html.BeginForm())
{
    <div class="container">
        <div class="col-sm-12">
            <table class="table table-hover " id="tbl">
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Costo</th>
                    <th>Estado</th>
                    <th>Numero de serial</th>
                    <th></th>
                </tr>
                @{
                    CapaNegocios.Clases.DetalleBien vBien = new CapaNegocios.Clases.DetalleBien();
                    foreach (Comunes.Estructuras.DetalleBien Item in vBien.Select_Propiedades())
                    {

                <tr>
                    <td class="numero">@Item.Nombre_Detalle_Bien.ToString()</td>
                    <td><img style="min-height:100px; max-height:200px; min-width:100px; max-width:200px;" class="img-thumbnail" src="data:image/jpg;base64,@Item.Base64" /></td>
                    <td>@Item.Costo_Detalle_Bien</td>
                    <td>@Item.Estado_Detalle_Bien</td>
                    <td>@Item.ID_Detalle_Bien</td>
                    <td>
                        <a class="btn btn-primary botonModificar"><i class="glyphicon glyphicon-pencil "></i></a>
                    </td>
                </tr>
                    }
                }
            </table>
        </div>
    </div>
    <script>
        $(".botonModificar").click(function () {

        var vValores = "";
        $(this).parents("tr").find(".numero").each(function () {
            vValores += $(this).html();
        });

        $.ajax({
            type: "POST",
            url: '@(Url.Content("~/") + "Home/Detalle_Propiedad")',
            content: "application/json; charset=utf-8",
            dataType: "html",
            data: { valores: vValores, pModo: "Modificar" },
            success: function (d) {
                location.href='@(Url.Content("~/") + "Home/Propiedades")'
            },
            error: function (d) {
               location.href='@(Url.Content("~/") + "Home/Propiedades")'
            }
        });
    });


    </script>
}