@using System.Data;
@using Comunes;

@{
    ViewBag.Title = "Propiedades";
}
<h2>Propiedades en oferta</h2>
<br />
@using (Html.BeginForm())
{
    <div class="container">
        <div class="col-sm-12">
            <table class="table table-hover " id="tbl">
                <tr style="background-color: #3163B8; color:white">
                    <th style="text-align:center;">Nombre</th>
                    <th style="text-align:center;">Fotos de la casa</th>
                    <th style="text-align:center;">Valor</th>
                    <th style="text-align:center;">Estado</th>
                    <th style="text-align:center;">Número de Casa</th>
                    <th></th>
                </tr>
                @{
                    CapaNegocios.Clases.DetalleBien vBien = new CapaNegocios.Clases.DetalleBien();
                    foreach (Comunes.Estructuras.DetalleBien Item in vBien.Select_Propiedades())
                    {

                <tr>
                    <td style="background-color:#eeeeee; text-align:center;">@Item.Nombre_Detalle_Bien.ToString()</td>
                    <td style="background-color:#dddddd; text-align:center;"><img style="min-height:100px; max-height:200px; min-width:100px; max-width:200px;" class="img-thumbnail" src="data:image/jpg;base64,@Item.Base64" /></td>
                    <td style="background-color:#eeeeee; text-align:center;">₡ @Item.Costo_Detalle_Bien,00</td>
                    <td style="background-color:#dddddd; text-align:center;">@Item.Estado_Detalle_Bien</td>
                    <td class="numero" style="background-color:#eeeeee; text-align:center;">@Item.ID_Detalle_Bien</td>
                    <td style="background-color:#dddddd; text-align:center;" >
                        <a class="btn btn-success botonModificar"><i class="glyphicon glyphicon-search"></i> Inspeccionar <br /> propiedad</a>
                    </td>
                </tr>
                    }
                }
            </table>
        </div>
    </div>
    <script>
        $(".botonModificar").click(function () {

        var vValores = "";
        $(this).parents("tr").find(".numero").each(function () {
            vValores += $(this).html();
        });

        $.ajax({
            type: "POST",
            url: '@(Url.Content("~/") + "Home/Detalle_Propiedad_Procesar")',
            content: "application/json; charset=utf-8",
            dataType: "html",
            data: { valores: vValores},
            success: function (d) {
                location.href='@(Url.Content("~/") + "Home/Detalle_Propiedad")'
            },
            error: function (d) {
               location.href='@(Url.Content("~/") + "Home/Detalle_Propiedad")'
            }
        });
    });


    </script>
}

    