@model ProyectoFinal.Models.gmail
@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @using (Html.BeginForm("eMail", "EmailSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <center>
            <table>
                <tr>
                    <td style="width:80px">To:</td>
                    <td>@Html.TextBoxFor(model => model.To)</td>
                </tr>
                <tr>
                    <td style="width:80px">Subject:</td>
                    <td>@Html.TextBoxFor(model => model.Subject)</td>
                </tr>
                <tr>
                    <td style="width:80px">Body:</td>
                    <td>@Html.TextAreaFor(model => model.Body, new { rows = "10", cols = "50"})</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Enviar"/></td>
 
                </tr>
            </table>
        </center>
    }
</div>
