@model ProyectoFinal.Models.gmail
@{
    ViewBag.Title = "Ingrese su consulta";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @using (Html.BeginForm("eMail", "EmailSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
    <div class="container">

        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                @Html.Label("Para:")
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.To, (object)new { @placeHolder = "Ingrese la direccion", required = "required", @class = "form-control" })
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                @Html.Label("Asunto:")
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Subject, (object)new { @placeHolder = "Ingrese el asunto", required = "required", @class = "form-control" })
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                @Html.Label("Consulta:")
            </div>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.Body, (object)new { @placeHolder = "Ingrese su consulta", required = "required", @class = "form-control" })
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                @Html.Label("Complete el Captcha")
            </div>
            <div class="col-sm-6">
                <img src="@Url.Action("GetCaptchaImage","EmailSetup")" />
            </div>
            <div class="col-sm-2">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-6">
                <input type="text" name="CaptchaText" id="CaptchaText" value="@ViewBag.CaptchaText" placeholder="Ingrese el código captcha" required
                       style="width:400px; border-radius: 3px; border: 1px solid black" />
            </div>
            <div class="col-sm-2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-primary" value="Enviar" />
                <input type="submit" class="btn btn-danger" value="Cancelar" />
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div>
            @if (ViewBag.Message != null)
            {
                <div style="border:0px solid red; width:300px;">
                    @ViewBag.Message
                </div>
            }
        </div>

    </div>
    }
</div>